<div ng-controller="dashboardController">
	<h2>Welcome {{username}}!</h2>
	<h5>Search:
		<input type="text" ng-model="filter_q" placeholder="search">
	</h5>
	<table class="table">
		<tr>
			<th>Category</th>
			<th>Topic</th>
			<th>User Name</th>
			<th>Posts</th>		
		</tr>
		<tr ng-repeat="topic in topics  | filter: filter_q">
			<td>{{topic.category}}</td>
			<td>{{topic.name}}</td>
			<td>{{topic._user.name}}</td>
			<td>{{topic.posts}}</td>
		</tr>

	</table>
	<h3>Add a New Topic</h3>
	<form>
		<h4>Topic:
			<input type="text" placeholder="topic" ng-model="new_topic.name">
		</h4>
		<h4>Description:
			<textarea placeholder="description" ng-model="new_topic.desc"></textarea>
		</h4>
		<h4>Category:
			<select ng-model="new_topic.category">
				<option>Psychology</option>
				<option>Math</option>
				<option>Science</option>
				<option>History</option>
				<option>Programming</option>
			</select>
		</h4>
		<button type="button" class="btn btn-success btn-md" ng-click="addtopic()">Enter</button> 
	</form>
</div>